{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <h1>Autenticación de Dos Factores Requerida</h1>
    <p>Ingrese el código de autenticación de dos factores:</p>
    <div class="form-group">
        <input type="text" class="form-control" id="2faCode" placeholder="Código de 2FA">
    </div>
    <button type="button" class="btn btn-primary" id="submit2fa">Enviar Código</button>
</div>

<script>
    $(document).ready(function() {
        $('#submit2fa').click(function() {
            var code = $('#2faCode').val();
            $.ajax({
                url: '{{ url_for("main.submit_2fa_code") }}',
                method: 'POST',
                data: { code: code },
                success: function(response) {
                    if (response.status === '2fa_received') {
                        Swal.fire({
                            icon: 'success',
                            title: '¡Código enviado!',
                            text: 'El código 2FA se ha enviado correctamente.',
                            showConfirmButton: false,
                            timer: 2000
                        }).then(function() {
                            window.location.href = "/followers";
                        });
                    } else if (response.status === 'error') {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: response.message,
                        });
                    }
                },
                error: function(err) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Ocurrió un error al enviar el código de 2FA. Por favor, inténtelo de nuevo.',
                    });
                    console.error('Error al enviar el código de 2FA:', err);
                }
            });
        });
    });
</script>

{% endblock %}
